alembic
appdirs
attrs
black
boto3
click
fastapi
greenlet
h11
httptools
mako
markupsafe
msgpack
neovim
pathspec
passlib[bcrypt]
pydantic
pynvim
python-dateutil
python-editor
regex
toml
twilio
# typed-ast
uvicorn
# uvloop
websockets